@font-face {
    font-family: appleGaramond;
    src: url(./apple-garamond-cufonfonts/AppleGaramond.ttf);
}
@font-face {
    font-family: geraldine;
    src: url(./geraldine-font/GeraldinePersonalUseItalic-PK12m.ttf);
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: appleGaramond, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-size: 2.5rem;
    line-height: 1.7;
    background-color: #000000;
    color: #ffffff;
    overscroll-behavior-y: none;
}

img,
video {
    min-width: 60vw;
    object-fit: contain;
}

h1 {
    padding: 5vw;
    font-family: appleGaramond, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
    flex: 0;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
    flex: 0;
}

input {
    padding: 2rem;
    font-family: monospace;
    color: #ffffff;
    background-color: #000000;
    border: solid #ffffff;
    border-radius: 100%;
    margin-top: 3rem;
    cursor: pointer;
}

input:hover {
    color: #000000;
    background-color: #ffffff;
}

input:focus {
    background-color: #a2a2a2;
}

ul {
    list-style: none inside;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: white;
    background-color: #000000;
    border: 0.1rem solid;
    padding: 1rem 2.5rem;
}

a:hover {
    color: #000000;
    background-color: #ffffff;
}

.page {
    height: 100vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20vh;
}

.citation {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 3.5rem;
}

.content .video-wrapper {
    margin: 0 auto;
    width: 50%;
}

.video-wrapper {
    position: relative; /*takes video from where it is standing now and then moves from where it is actually standing*/
    padding-bottom: 56.25%; /*16:9 video scaling*/
    padding-top: 25px;
    height: 0px;
} 

.video-wrapper video {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.progress-section {
    position: fixed;
    left: 25px;
    top: -10px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    will-change: transform;
    transition: 0.3s ease-out;
}

.progress-bar-wrap {
    z-index: 2;
    position: relative;
    width: 5px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
    margin-right: 1rem;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: rgb(189, 189, 189);
}

.progress-num {
    color: rgb(189, 189, 189);
}

body::-webkit-scrollbar {
    display: none;
}

#beautiful {
    font-family: geraldine, "Lucida Handwriting", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#human {
    font-family: "Ink Free", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#three {
    font-size: 3rem;
}

#titles,
#designers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1rem;
}

#titles p,
#designers p {
    white-space: nowrap;
}

#simplify {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#seventeen {
    margin-top: 40vh;
    margin-bottom: auto;
}

#icon,
#dropdown-menu {
    z-index: 1;
}

#icon {
    width: 7vw;
    height: 7vw;
    position: fixed;
    top: 2%;
    left: -24%;
    cursor: pointer;
}

#icon:hover {
    height: 10vw;
}

#dropdown-menu {
    display: none;
    margin-left: 10vw;
    float: left;
    position: fixed;
    /* background-color: #000000; */
    justify-content: flex-start;
    padding: 10px;
    border-radius: 0px 4px 4px 0px;
}

#dropdown-menu ul li {
    float: left;
    list-style: none;
    padding: 10px 10px;
    position: relative;
    border-radius: 4px;
    margin: 0;
}

#dropdown-menu ul li a {
    display: block;
}