@font-face {
    font-family: appleGaramond;
    src: url(../../apple-garamond-cufonfonts/AppleGaramond.ttf);
}

* {
    box-sizing: border-box;
}
  
/* Set a background color */
body {
    background-color: #000000;
    font-family: 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
  
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fff;
    border: 4px solid #FF6666;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
/* Place the container to the left */
.left {
    left: 0;
}
  
/* Place the container to the right */
.right {
    left: 50%;
}
  
/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
  /* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}
  
/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
  
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
  
  /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* progress bar CSS rules */
.progress-section {
    position: fixed;
    left: 25px;
    top: -10px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    will-change: transform;
    transition: 0.3s ease-out;
}

.progress-bar-wrap {
    z-index: 2;
    position: relative;
    width: 5px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
    margin-right: 1rem;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: rgb(189, 189, 189);
}

.progress-num {
    color: rgb(189, 189, 189);
}

body::-webkit-scrollbar {
    display: none;
}

/* menu section of CSS */
ul {
    list-style: none inside;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: white;
    background-color: #000000;
    border: 0.1rem solid;
    padding: 1rem 2.5rem;
    margin: 0 auto;
    font-family: appleGaramond, 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    line-height: 1.7;
}

a:hover {
    color: #000000;
    background-color: #ffffff;
}

#icon,
#dropdown-menu {
    z-index: 1;
}

#icon {
    box-sizing: content-box;
    object-fit: contain;
    min-width: 60vw;
    width: 7vw;
    height: 7vw;
    position: fixed;
    top: 2%;
    left: -24%;
    cursor: pointer;
}

#icon:hover {
    height: 10vw;
}

#dropdown-menu {
    display: none;
    margin-left: 10vw;
    float: left;
    position: fixed;
    /* background-color: #000000; */
    justify-content: flex-start;
    padding: 10px;
    border-radius: 0px 4px 4px 0px;
}

#dropdown-menu ul li {
    float: left;
    list-style: none;
    padding: 10px 10px;
    position: relative;
    border-radius: 4px;
    margin: 0;
}

#dropdown-menu ul li a {
    display: block;
}